.FormsPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #ecf0f1;
  span {
    color: red;
    font-size: smaller;
  }
}