.ProfileCard {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 25px;
  img {
    border-radius: 50%;
  }
}

.DarkProfileCard {
  background-color: #34495e;
  color: #fff;
}

.LightProfileCard {
  background-color: #fff;
  border: 1px solid #34495e;
  color: #34495e;
}
